.gameBox{
    background-color: rgb(118, 225, 221);
    color: white;
    height: 15vh;
    width: 15vh; 
    border-radius: 4px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center; 
    &:hover{
        cursor: pointer; 
    }  
} 

.gameRow{
    display: flex; 
    flex-direction: row;  
}

.scoreBoard{
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
    font-size: 2vh; 
    margin-bottom: 4vh; 
}

.newGameButton{
    width: 14vh;
    height: 5vh; 
    padding: 1vh; 
    border-radius: 4px;
    background-color: rgb(19, 213, 77);
    color: white;
    font-family: cursive; 
    border: none;
    outline: none; 
    &:active{
        background-color: rgb(233, 233, 233);  
        color: black;
        outline: none;   
        border: none; 
    }
    &:focus{
        outline: none; 
        border: none;  
    }
}

.gameOver{
    font-weight: bold;
    font-size: 10vh; 
    margin: 5vh;  
}